.workPage {
  background-color: white;
  height: fit-content;
  padding: 20px;
}
.wrk-page-header {
  padding-bottom: 50px;
  color: #814c56;
  width: fit-content;
  margin: auto;
}
.cards {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
}

@media only screen and (max-width: 1100px) {
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: auto;
    padding: 20px 0px;
  }
  .wrk-page-header {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 600px) {
 
}
@media only screen and (max-width: 450px) {
  .workPage {
    padding: 0px;
  }
}
