.AboutPage{
    height: 100vh;
    width: 100vw;
    color: #814c56;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.37);
}
.my-pic{
    width: auto;
    height: 70%;
}
.abtPage-content{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.abtPage-text{
    text-align: justify;
    margin-left: 50px;
}
.btn-resume{
    margin-top: 10%;
    width: fit-content;
    background-color: #814c56;
    padding: 15px 40px;
    border-radius: 0px;
    border: 2px solid #814c56;
}
.bio{
    font-size:larger;
}
.abt-header{
    margin-bottom: 10px;
    color: #814c56;
}
.social-link{
    width: 20px;
    color:#814c56;
    margin-left: 5px; 
    opacity: 0.6;
}
.social-link:hover{
    color:#814c56;
    opacity: 1;
}
@media only screen and (max-width: 1100px) {
    .AboutPage{
        height: fit-content;
        padding: 40px 0px;
    }
    .my-pic{
        height: 200px;
        margin: 20px;
    }
    .btn-resume{
        margin-top: 20px;
    }
    .abtPage-content{
        width: 90%;
        padding: 20px 0px;
    }
    .abtPage-text{
        margin-left: 5px;
    }
    .bio{
        font-size:large;
    }
}
@media only screen and (max-width: 600px) {
    .AboutPage{
        height: fit-content;
    }
    .my-pic{
        height: 200px;
        margin: 20px;
    }
    .abtPage-content{
        display: flex;
        flex-direction: column;
    }
    .abtPage-text{
        text-align: justify;
    }
    .btn-resume{
        margin-top: 5px;
    }
    .bio{
        font-size:medium;
    }
    
}
@media only screen and (max-width: 450px) {
    .AboutPage{
        height: fit-content;
    }
    .my-pic{
        height: 200px;
        margin: 20px;
    }
    .abtPage-content{
        display: flex;
        flex-direction: column;
    }
    .abtPage-text{
        text-align: justify;
    }
    .btn-resume{
        margin: 20px 0px;
    }
    .bio{
        font-size: small;
    }
    
}