.header{
    display: flex;
    align-items: center;
    height: 100vh;
    color: white;
    margin-left: 100px;
}
.header-1{
    font-size: 60px;
    margin-top: 100px;
    margin-left: 100px;
}
.header-2{
    margin-left: 170px;
}
.header-arrow{
    width: 50px;
    border: 1px solid #6e3842a4;
    border-radius: 50%;
    position:absolute;
    z-index: 1;
    left:50%;
    top: 90%;
    opacity: 0.7;
}
.header-arrow:hover{
    opacity: 1;
    cursor: pointer;
    box-shadow: 0px 0px 4px #6e3842;
}
@media only screen and (max-width: 900px){
    .header{
        margin-left: 15px;
    }
    .header-arrow{
        left:45%;
        top: 80%;
    }
    .header-1{
        font-size: 50px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .header-2{
        margin-left: 20px;
    }
}
@media only screen and (max-width: 600px){
    .header{
        margin-left: 10px;
    }
    .header-arrow{
        left:45%;
        top: 90%;
    }
    .header-1{
        font-size: 30px;
        margin-top: 100px;
        margin-left: 0px;
    }
    .header-2{
        margin-left: 20px;
        font-size: 10px;
    }
}