.portfolio-navbar{ 
    background-color: transparent ;
    height: 70px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
    overflow: hidden;
}

.portfolio-navbar.active{
    background-color: #814c56  !important;
}

.navBar-br{
    margin-left: 70px;
    margin-top: 10px;
    color: white !important;
}
.navBar-br:hover{
   cursor: pointer;
}
.navigation{
    color: white;
    padding: 5px;
    margin: 0px 15px;
    opacity: 0.6;
}
.navigation:hover{
    opacity: 1;
    cursor: pointer;
}
@media  only screen and (max-width: 1100px) {
    .portfolio-navbar{ 
        height: auto;
    }
    .navBar-br{
        margin-left: 0px;
        margin-top: 0px;
    }
}