/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 600px;
  height: 300px;
  border: 1px solid #f1f1f1;
  /* perspective: 1000px;  */
  /* Remove this if you don't want the 3D effect */
  margin: 0px 20px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.app-desc{
  font-style: italic;
  color: white;
  font-size: medium;
  margin-top: 20px;
}
/* Style the back side */
.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #814c56;
  color: white;
  transform: rotateY(180deg);
}
  .card-title{
    margin: 20px 0px;
  }
  .img-cards{
    object-fit:cover;
    width: 100%;
  }
  .demo-link{
    color: white;
    width: fit-content;
    text-align: center;
    opacity: 0.6;
    margin-left: 15px;
  }
  .demo-link:hover{
    color: white;
    opacity: 1;
  }
  @media only screen and (max-width: 1100px) {
    .flip-card {
      margin: 0px;
    }
    .card-title{
      margin: 10px 0px;
      font-size: medium;
    }
  }
  @media only screen and (max-width: 600px) {
    .flip-card {
      background-color: transparent;
      width: 400px;
      height: 200px;
    }
  }
  @media only screen and (max-width: 450px) {
    .flip-card {
      width: 300px;
      height: 200px;
    }
  }